<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->

    <head>
        <!--- Basic Page Needs  -->

        <!-- meta charec set -->
        <meta charset="utf-8">
        <!-- Page Title -->
        <title>Het Kansara | Portfolio</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Author Meta -->
        <meta name="author" content="Karim Ezzat">
        <!-- Meta Description -->
        <meta name="description" content="One Page Creative Personal HTML5 Template">
        <!-- Meta Keyword -->
        <meta name="keywords" content="onepage, responsive, cv, resume, business, html5, css3, css3 animation">
        <!-- Mobile Specific Meta  -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../assets/img/HK9.png" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">

        <!-- CSS
        ================================================== -->
        <!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
        <!-- Simple Line Icon font -->
        <link rel="stylesheet" href="../assets/css/simple-line-icons.css">
        <!-- Slick Nav -->
        <link rel="stylesheet" href="../assets/css/slicknav.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
        <!-- Slick Slider -->
        <link rel="stylesheet" href="../assets/css/slick.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <!-- media-queries (Responsive File) -->
        <link rel="stylesheet" href="../assets/css/responsive.css">
        <!-- Add custom css by Het Kansara-->
        <link rel="stylesheet" href="../assets/css/custom.css">
    </head>

    <body id="body" data-spy="scroll" data-target="#navigation" data-offset="300">
        <script type="text/x-template" id="modal-template">
            <transition name="work-modal">
                <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="blog-left mb-5 mb-lg-0">
                            <div class="blog-text">
                                <div class="blog-text-inner">
                                    <slot name="modal-body">
                                    </slot>
                                    <button class="modal-default-button" @click="$emit('close')"> Close </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </transition>
        </script>
         <!-- Start Preloader Area -->
        <div class="preloader-area">
            <div class="loader">
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Header Start -->
        <header>
            <div class="header-area header-transparrent">
                <div class="main-header header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="index.html"><img src="../assets/img/HK9.png" class="hk-logo logo-nav" alt="logo"> <span class="nav-header-text hidden">Het Kansara</span></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <!-- Main-menu -->
                                <div class="main-menu float-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="nav-item"><a class="nav-link transition active" href="#body"> Home</a></li>
                                            <li class="nav-item"><a class="nav-link transition" href="#services">Services</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Welcome Area Start -->
        <section class="hero-area sky-blue d-flex align-items-center">
            <div id="hero-area" class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- Start Hero Caption -->
                        <div class="hero-caption">
                            <span class="subheading">Hey! </span>
                            <h1>{{userProfile.name}} !</h1>
                            <div>{{viewsCount}} people viewed your portfolio!
                            </div>
                            <!-- <a v-bind:href="resume_link" target="_BLANK" class="btn radius-btn">View Analysis</a> -->
                        </div>
                        <!-- End Hero Caption -->
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <!-- Hero Right Image -->
                        <div class="hero-img">
                            <img src="../assets/img/HK-img.png" height="560" alt="Hero image">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Hero Animated Shape -->
            <div class="hero-shape custom-animation">
                <img src="../assets/img/hero/hero-shape.png" alt="animation shape">
            </div>
            
        </section>
        <!-- Welcome Area End -->

        <!-- About Area Start -->
        <section class="about-area section-padding sky-blue" id="about">
            <div id="about-area" class="container">

                <div class="row align-items-center">
                    <div class="col-lg-6 d-none d-lg-block">
                         <!-- Start About Area Image -->
                        <div class="img-about">
                            <img class="img-fluid" src="../assets/img/HK-img-1.png" height="824">
                        </div>
                        <!-- End About Area Image -->
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <!-- Start About Detail -->
                        <div class="about-details">
                            <div class="section-title mb-50">
                                <h3>Who viewed your portfolio?</h3>
                            </div>
                            <div style="display: flex;flex-wrap: wrap;flex:1;">
                            <span class="ip-badge" v-for="ip in ip_addresses"><a :href="'https://whatismyipaddress.com/ip/'+ip.ip_address" target="_BLANK">{{ip.ip_address}}</a></span>
                            <span></span>
                        </div>
                            <!-- <p v-for="about_para in user_profile.about_paragraphs">{{about_para}}</p>
                            <ul class="about-info mt-4">
                                <li><span>Name:</span> <span>{{user_profile.name}}</span></li>
                                <li><span>Date of birth:</span> <span>{{user_profile.born}}</span></li>
                                <li><span>Address:</span> <span>{{user_profile.address}}</span></li>
                                <li><span>Zip code:</span> <span>{{user_profile.postal}}</span></li>
                                <li><span>Email:</span> <span>{{user_profile.email}}</span></li>
                                <li><span>Phone: </span> <span>{{user_profile.phone}}</span></li>
                                <li><span>Follow me: </span>
                                    <span><a :href="user_profile.linkedin_link" class="follow-icon linkedin-link" target="_BLANK"><i class="fa fa-linkedin transition"></i> | LinkedIn</a>
                                    <a :href="user_profile.github_link" class="follow-icon github-link" target="_BLANK"><i class="fa fa-github transition"></i> | Github</a></span>
                                </li>
                            </ul> -->
                        </div>
                        <!-- End About Detail -->
                    </div>

                </div>
            </div>
        </section>
        <!-- About Area End -->

        <!-- Start Footer -->
        <footer class="footer-area sky-blue">
            <div id="footer-area" class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="footer-top flex-column">
                            <div class="footer-logo text-center">
                                <a href="#">
                                    <img src="../assets/img/HK9.png" class="hk-logo logo-footer" alt="logo">
                                </a>
                            </div>
                            <div class="footer-social text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom text-center justify-content-center">
                    <p class="col-lg-8 col-sm-12 footer-text">
                        Copyright ©All rights reserved | This theme is licensed with <a href="https://themeforest.net/item/cobra-html5-portfolio-template/26438532" target="_BLANK">Cobra - Theme Forest</a> 
                    </p>
                    <p class="col-lg-8 col-sm-12 footer-text">
                        Developed with <i class="fa fa-heart-o" aria-hidden="true"></i> by Het Kansara | 
                        <a href="../assets/Licence/59031000-cobra-html5-portfolio-template-license.pdf" target="_BLANK">View License </a>
                    </p>
                    <p class="col-lg-8 col-sm-12 footer-text">
                        <!-- Follow me,   -->
                        <a :href="user_profile.linkedin_link" class="follow-icon linkedin-link" target="_BLANK"><i class="fa fa-linkedin transition"></i> | LinkedIn</a>
                        <a :href="user_profile.github_link" class="follow-icon github-link" target="_BLANK"><i class="fa fa-github transition"></i> | Github</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        
        <!-- Essential jQuery Plugins
        ================================================== -->

        <!-- Main jQuery -->
        <script src="../assets/js/jquery-3.2.0.min.js"></script>

        <!-- Popper js -->
        <script src="../assets/js/popper.min.js"></script>
        
        <!-- Twitter Bootstrap -->
        <script src="../assets/js/bootstrap.min.js"></script>
        
        <!-- Slick Nav js -->
        <script src="../assets/js/jquery.slicknav.min.js"></script>
        
        <!-- Isotop js filter -->
        <script src="../assets/js/isotope.pkgd.min.js"></script>
        
        <!-- Owl Slider -->
        <script src="../assets/js/owl.carousel.min.js"></script>
        
        <!-- Slick Slider -->
        <script src="../assets/js/slick.min.js"></script>
        
        <!-- Scroll Up js -->
        <script src="../assets/js/jquery.scrollUp.min.js"></script>
        
        <!-- <script src="../assets/js/custom.js"></script> -->
        
        <!-- Custom Function js -->
        <script src="../assets/js/main.js"></script>

        <!-- Connect View.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
        
        <!-- Custom Function js -->
        <script src="../assets/js/vue-analysis.js"></script>
        
    </body>

</html>